# fastapi core
fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9

# database & auth
pydantic>=2.8.0
pydantic-settings==2.2.1
pydantic[email]
supabase==2.4.3

# file processing
pdfplumber==0.11.0
python-docx==1.1.0

# ai & langchain
langchain-core==0.2.43
langchain-google-genai==1.0.10
google-generativeai
langchain-text-splitters==0.2.1
langchain-ollama==0.1.1
numpy

# ml - difficulty model
torch
transformers
sentencepiece

# testing & dev
pytest==8.2.0
pytest-asyncio==0.23.6
httpx==0.27.0
python-dotenv==1.0.1
