@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-background font-body-md antialiased;
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .card-shadow {
    box-shadow: 0 10px 25px -5px rgba(0, 35, 102, 0.08);
  }
  .ambient-shadow {
    box-shadow: 0 10px 25px -5px rgba(0, 35, 102, 0.08);
  }
  .shadow-ambient {
    box-shadow: 0 10px 25px -5px rgba(0, 35, 102, 0.08);
  }
  .shadow-hover {
    box-shadow: 0 15px 30px -5px rgba(0, 35, 102, 0.12);
  }
  
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .fill-icon {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}
